/* Projects */
#project {
    /* margin-bottom: 5rem; */
    margin: 4rem 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--shade-500);
    text-transform: uppercase;
    font-family: "Montserrat";
}

.section-subtitle {
    font-size: 1rem;
    color: var(--grey-text);
    max-width: 60ch;
}
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem -1.5rem -1.5rem;
    flex-wrap: wrap;
}
.project-content{
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    transition: box-shadow 500ms;
}
.project-content:hover{
    box-shadow: 0px 0 10px 1px rgb(0 0 0 / 20%);
}
.project-img img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 0.8;
    filter: contrast(75%) grayscale(1);
    transition: filter 1000ms, opacity 500ms;
}
.project-content:hover .project-img img {
    opacity: 1;
    filter: none;
}
.project-detail{
    background-color: var(--background-color);
    padding: 2rem;
    height: 100%;
}
/* .project-title{
    text-transform: uppercase;
    color: var(--grey-text);
    font-size: 0.9rem;
    transition: color 500ms;
} */
.project-site{
    text-transform: uppercase;
    color: var(--grey-text);
    font-size: 0.9rem;
    transition: color 500ms;
    font-family: "Montserrat";
}
.project-description{
    margin: 1em 0;
}
.project-tags{
    display: flex;
    padding: 1rem;
    margin: 0;
}
.project-tags .tag{
    margin-right: 2rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
.project-links{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin: 0 -1rem;
}
.project-links a{
    color: #fff;
    margin: 1rem;
    border-radius: 0;
    background: #0D081B;
    padding: .5em 1em;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: 1px solid #0D081B;

}
.project-links a:hover{
    background: transparent;
    color: #0D081B;
}
.link-btn{
    border-radius: 0;
    margin: 1.5rem 0;
    display: block;
    width: fit-content;
    letter-spacing: 0.15em;
}
@media screen and (max-width: 768px) {
    .project-links{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* About */
#about{
    background: #0D081B;
    color: #fff;
}
.about-content{
    padding: 5rem 1em;
    margin: 3rem 0;
}
.about-img{
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0 10px 1px rgb(0 0 0 / 20%);
    border-radius: 10px;
    overflow: hidden;
}
.about-img img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    /* opacity: 0.8; */
    /* filter: brightness(45%) grayscale(1); */
    transition: filter 1000ms;
}
.about-details p{
    font-size: 1rem;
    line-height: 1.5em;
    display: block;
    text-align: center;
}
.about-details p:first-child{
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: .5em;
    letter-spacing: 0.13em;
}
.more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.more a{
    color: #fff;
    border-radius: 0;
    background: #0D081B;
    padding: 1em;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
.more a:hover{
    background: none;
    border: 1px solid #0D081B;
    color: #0D081B;
}
@media screen and (min-width: 768px){
    .about-content{
        display: flex;
        justify-content: space-between;
    }
    .about-details{
        margin-left: 3rem;
    }
    .about-details p{
        font-size: 1.5rem;
        line-height: 1.7em;
        display: block;
        text-align: left;
    }
    .more{
        display: inline-block;
    }
}
/* Contact */

.contact-content {
    display: flex;
    flex-wrap: wrap;
}
  
.contact-content .link-btn {
    border-radius: 0;
    margin: 1.5rem 0;
    display: block;
    width: fit-content;
}
.form-container {
    flex: 1 0 auto;
    max-width: 600px;
    width: 100%;
    margin-right: 3rem;
}

.input-container {
    position: relative;
    margin: 1.5rem 0;
}
.input{
    width: 100%;
    outline: none;
    border: 2px solid var(--grey-color);
    caret-color: var(--shade-300);
    background: none;
    padding: 1rem 0.5rem;
    color: var(--text-color);
    transition: border 500ms;
    box-sizing: border-box;
    font-size: 1.15rem;
    letter-spacing: 0.5px;
}
textarea.input {
    height: 300px;
    resize: none;
    font: inherit;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    font-size: 1.15rem;
    user-select: none;
    pointer-events: none;
    transition: all 500ms;
    z-index: 1000;
}
.input-container.textarea label{
    top: 1rem;
    transform: translateY(0);
}

.input-container span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    font-size: 1.15rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}
.input-container span::before,
.input-container span::after{
    content: '';
    position: absolute;
    height: 3px;
    background: #fff;
    width: 10%;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition:  0.3s;
}
.input-container span::before{
    left: 50%;
}
.input-container span::after{
    right: 50%;
}
.input-container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 1.15rem;
}
.input-container span::before{
    left: 50%;
}
.input-container.focus span::before,
.input-container.focus span::after{
    width: 50%;
    opacity: 1;
}
.form-container button{
    color: #fff;
    margin: 1rem;
    border-radius: 0;
    background: #111;
    padding: 1em;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #0D081B;

}
.form-container button:hover{
    background: transparent;
    color: #0D081B;
}